.body {
	margin: 0 0 0 0;
	background: linear-gradient(
		90deg,
		rgba(248, 255, 129, 0.2) 0%,
		rgba(245, 166, 255, 0.2) 50%,
		rgba(77, 76, 184, 0.2) 100%
	);
}

.top {
	width: 100%;
	height: 30vh;
}

.topImage {
	height: 100%;
	background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-color: rgba(255, 255, 255, 0.6);
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-size: cover;
}

.topImageTextBox {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	.topImageTextBox {
		padding-top: 5%;
	}
}

.bottomTitleContainer {
	height: 9vh;
	display: flex;
	align-items: center;
	padding: 0 15% 0 15%;
}

@media only screen and (max-width: 600px) {
	.bottomTitleContainer {
		padding: 0 5% 0 5%;
	}
}

.bottomTabsBackground {
	height: 12vh;
	background-color: white;
	position: sticky;
	top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
	z-index: 1;
}

@media only screen and (max-width: 600px) {
	.bottomTabsBackground {
		height: 25vh;
		padding-bottom: 5px;
	}
}

.bottomTabsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7%;
	padding: 0 6% 0 6%;
}

@media only screen and (max-width: 600px) {
	.bottomTabsContainer {
		flex-direction: column;
		gap: 10px;
		padding: 0 5% 0 5%;
	}
}

.bottomCardsContainer {
	padding: 0 16% 0 16%;
}

.bottomCardsContainerLoading {
	padding: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
	.bottomCardsContainer {
		padding: 0 5% 0 5%;
	}
}

.mealContainer {
	padding: 8% 0;
}

.card {
	width: 355px;
	height: 470px;
}

.cardBorder {
	outline: 2px solid #004370;
}

.cardImage {
	height: 200px;
	margin: 20px 20px 0 20px;
	border-radius: 10px;
}

.cardBottomBox {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cuisineBox {
	display: flex;
	gap: 2;
}

.ratingBox {
	display: flex;
	gap: 2;
}

.cardImageContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.deleteContainer {
	width: 30px;
	height: 30px;
	background-color: #ffe0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.mealTypeContainer {
	width: 70px;
	height: 15px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	margin-bottom: 5px;
}

.cardDescription {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	line-clamp: 7;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chipSelected {
	flex: 1 1 calc(25% - 10px);
	min-width: 90px;
	height: 40px;
	background-color: #cfecff;
	border-radius: 7px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.chipSelected {
		flex: 1 1 calc(50% - 10px);
		min-width: 40px;
	}
}

.chipUnselected {
	flex: 1 1 calc(25% - 10px);
	min-width: 90px;
	height: 40px;
	background-color: #f2f2f2;
	border-radius: 7px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.chipUnselected {
		flex: 1 1 calc(50% - 10px);
		min-width: 40px;
	}
}
